.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  img {
    height:10%;
    width: 10%;
  }
  
  .search-bar {
    width: 25%;
    border-radius: 8px;
    height: 25%;
    margin-top:3%;
    text-align: center;
  }